// Bourbon Neat settings
// ------------------------------------------------
@import "vendor/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$max-width: em(960);

// When set to true, it sets the box-sizing property of all elements to border-box.
$border-box-sizing: false;

// Turn on/off the visual grid
$visual-grid: false;
$visual-grid-color: cyan;

// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px;
$base-line-height: 24px;

// Breakpoints definitions
// ------------------------------------------------
// Style adjustments for viewports that meet the condition less than 480px
$mobile: new-breakpoint(max-width em(480, $base-font-size) 4);
// Style adjustments for viewports that meet the condition 560px
$tablet: new-breakpoint(min-width em(560, $base-font-size) 8);
// Style adjustments for viewports that meet the condition 960px
$desktop: new-breakpoint(min-width em(960, $base-font-size) 12);
// Style adjustments for viewports that meet the condition 1600px
$bigscreen: new-breakpoint(min-width em(1600, $base-font-size) 12);