// HELPER MIXINS AND FUNCTIONS

// One line dotted
@mixin oneline {
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Basehold.it Visor for Vertical Rhythm
@mixin basehold ($color: 'black') {

	@if $color == 'black' {
		background: url(http://basehold.it/i/24);
	} @else {
		background: url(http://basehold.it/i/24/ffffff);
	}
}